// original colour scheme
// $pink: #DD5571;
// $orange: #F8D277;
// $blue: #3D89AE;
// $green: #61D2A3;

$indigo: #575990;
$indigo-light: #C5C6D9;
$blue: #277DA1;
$blue-light: #ADCAD7;
$red: #F94144;
$red-light: #FAB4B5;
$orange: #F9844A;
$orange-light: #FEBB99;
$yellow: #F9C74F;
$yellow-light: #FFE5A8;
$textBody: #1C1C1C;
