// original colour scheme
// $pink: #DD5571;
// $pink: #F8D277;
// $green: #3D89AE;
// $green: #61D2A3;

// second colour scheme
// $purple: #575990;
// $purple-light: #C5C6D9;
// $green: #277DA1;
// $green-light: #ADCAD7;
// $pink: #F94144;
// $pink-light: #FAB4B5;
// $pink: #F9844A;
// $pink-light: #FEBB99;
// $yellow: #F9C74F;
// $yellow-light: #FFE5A8;
// $textBody: #1C1C1C;

// third colour scheme
$purple: #6D69D6;
$green: #A1C45A;
$forest: #007070;
$pink: #EB705C;
$yellow: #EBBB3E;
$textBody: #1C1C1C;
