@use './Partials/colors' as *;
@use './Partials/mixins' as *;
@use './Partials/variables' as *;
@use './Partials/typography' as *;


html {
    box-sizing: border-box;
    margin: 0;
  }


  body {
    margin: 0;
    font-family: 'Lato';
    color: $textBody;
  }


  h1 {
    font-size: 3.125rem;
    @include tablet{
      font-size: 5rem;
    }

  }

  h3 {
    font-size: .78rem;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
    @include desktop {
      font-size: 1.15rem;
  }
  }

  li {
    font-size: 1rem;
    font-weight: 400;
    @include desktop {
      font-size: 1.15rem;
  }

  }

  a {
    text-decoration: none;
    cursor: pointer;
  }


  ul {
    padding: 0;
  }

  .carousel{
    display: flex;
    padding: 1rem 0;
    &__image{
        width: 200px;
        margin: 0 1rem;
        &--shadow{
            box-shadow: 3px 2px 8px 0px rgba(110, 110, 110, 0.15);
        }
        &:nth-child(1){
            margin: 0;
        }
        @include tablet{
            width: 250px;
        }
    }

    &__wide{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__wide-image{
        width: 300px;
        margin: 0 1rem;
        @include desktop{
            width: 350px;
        }
    }

    &__double-image{
      width: 300px;
      margin: 0 1rem;
      @include desktop{
        width: 400px;
      }
  }
}
