@use './partials/typography' as *;
@use './partials/colors' as *;

html {
    box-sizing: border-box;
    margin: 0;
  }


  
  body {
    margin: 0;
    font-family: "Inter";
  
  }


  h1 {
    font-size: 3.125rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: .75rem;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }


  ul {
    padding: 0;
  }
