@use '../../Styles/Partials/colors' as *;
@use '../../Styles/global' as *;
@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/animations' as *;

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;

    &__item{
        font-size: 2rem;
        // margin: .5rem;
        
    }

    &__p{
        margin: 1.75rem;
    }

    &__link{
        text-decoration: underline;
    }

    &__saluki{
        width: 30%;
        height: auto;
        position: absolute;
        left: 48%;
        top: 15%;

        &--hidden{
            display: none;
        }

    }



}