@use '../../Styles/Partials/colors' as *;
@use '../../Styles/global' as *;
@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/animations' as *;

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    @include tablet{
        padding: 0 10%;
    }
    @include mobile{
        padding: 0 10%;
    }

    &__item{
        font-size: 1.5rem;
        // margin: .5rem;
        
    }

    &__p{
        margin: 1.75rem;
    }

    &__link{
        text-decoration: underline;
        cursor: pointer;
    }




}