@use '../../Styles/Partials/colors' as *;
@use '../../Styles/global' as *;
@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/animations' as *;
.modal{
    width: 60%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 35%;
    @include desktop{
        width: 20%;
        left: 55%;
    }

    &--hidden{
        display: none;
    }

    &__subheader{
        margin: 0;
        font-size: 1.25rem;
    }
}