@use '../../Styles/Partials/colors' as *;
@use '../../Styles/global' as *;
@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/animations' as *;

.work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    text-align: center;

    &__link{
        font-size: 4rem;
        color: $purple;
        margin: 3rem 0;
        @include desktop{
            font-size: 5.5rem;
        }
        &:hover{
            font-weight: 600;
        }
        &:nth-child(2){
            color: $forest;
        }
        &:nth-child(3){
            color: $green;
        }
        &:nth-child(4){
            color: $pink;
        }
        &:nth-child(5){
            color: $yellow;
        }
  

    }
}