@use './Styles/Partials/mixins' as *;


.app{
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 246, 215);
    &--dark-mode{
        background-color: rgb(6, 13, 48);
        color: white;
    }
}

.mode-box{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: sticky;
    bottom: 4rem;
    z-index: 3;
    @include desktop {
        bottom: 2rem;
    }
}

.mode-icon{
    cursor: pointer;
    display: block;
    width: 1.5rem;
    margin: 0 1rem;
    @include desktop{
        width: 2rem;
        margin: 0 2rem;
    }
    &--hidden{
        display: none;
    }
}
