@use '../../Styles/Partials/colors' as *;
@use '../../Styles/global' as *;
@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/animations' as *;




.home{
text-align: left;

    &__header-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-image: url('../../Assets/clouds.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__header{
        animation: colorChange 5s ease-in-out infinite;
        &--hidden{
            display: none;
        }
        
    }

    &__main-content{
        margin: 0rem 1.5rem;
        @include tablet {
            padding: 0% 22%;
        }
    }

    &__section{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        margin: 6rem 0;
        // height: 80vh;
        
    }


    &__subheader{
        font-weight: bold;
        &--more{
            font-size: 1.5rem;
            color: white;
            &:hover{
                color: $pink;

            }

            // border: 1px solid red;
        }
   
        
    }

    &__body{
        // line-height: 1.8rem;
        margin: .7rem 0;
   
        &--bold{
            font-weight: 600;
        }
        &--pink{
            color: $pink;
        }
        &--blue{
            color: $blue; 
        }
        &--green{
            color: $green;
        }
        &--yellow{
            color: $yellow;
        }
        &--small{
            font-size: .75rem;
            margin-top: -.25rem;
        }
        &--grow{
            &:hover{
                font-size: 2.5rem;
                cursor: pointer;
            }
        }

        &--bold{
            font-weight: bold;

        }

        &--italic{
            font-style: italic;
        }

        &--link{
            cursor: pointer;
        }
    }
}

.animation-blink{
    // animation: blink 1.5s linear infinite;
}