@use '../../Styles/Partials/colors' as *;
@use '../../Styles/global' as *;
@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/animations' as *;


.home{
    text-align: left;
    padding: 0 0 3rem 0;
    &--dark-mode{
        background-color: black;
        color: white;
    }

    &__header-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90vh;
    }

    &__hero{
        animation: blink 2.5s ease-in forwards;
        width: 85%;
        @include desktop{
            width: 50%;
        }
    }

    &__main-content{
        padding: 0rem 1.5rem;
        @include tablet {
            padding: 0% 22%;
        }
    }

    &__section{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 2rem 0;
        // background-color: #D9D9D93B;
        @include desktop {
            padding: 2rem 0;
        }
    }

    &__subheader{
        font-size: .78rem;
        font-weight: 700;
        text-transform: uppercase;
        }
   

    &__body{
        // margin: .7rem 0;
        @include desktop {
            font-size: 1.13rem;
        }
        &--indigo{
            color: $indigo;
        }
        &--blue{
            color: $blue; 
        }
        &--red{
            color: $red;
        }
        &--orange{
            color: $orange;
        }
        &--yellow{
            color: $yellow;
        }
        &--bold{
            font-weight: 700;
        }
        &--italic{
            font-style: italic;
            font-weight: 600;
        }
        &--link{
            cursor: pointer;
        }
        &--list{
            margin: 0;
            line-height: 1.5rem;
        }
        &--small{
            font-size: .85rem;
            margin: 0 0 0 1.15rem;
        }
    }
}

.value-row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 1rem 0;
    @include desktop{
    margin: 2rem 0;

    }

    &__ball{
        height: 58px;
        // border: 1px solid blue;
        @include desktop {
            height: 90px;
        }
    }
}

.text-row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
    &__bullet{
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: $indigo;
        margin-right: .5rem;
    }
}

.home-button{
    width: 100%;
    display: flex;
    justify-content: center;
    &__button{
        background-color: $indigo;
        padding: 1rem 3rem;
        margin: 0 2rem;
        color: white;
        // font-weight: 600;
        font-size: 1rem;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        display: flex;
        align-self: center;
        &:hover{
            background-color: $yellow;
        }
    }
}
