@use '../../Styles/Partials/colors' as *;
@use '../../Styles/global' as *;
@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/animations' as *;


.home{
    text-align: left;
    &--dark-mode{
        background-color: black;
        color: white;
    }

    &__header-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-image: url('../../Assets/clouds.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__header{
        animation: colorChange 5s ease-in-out infinite;
        &--hidden{
            display: none;
        }
        
    }

    // &__mode-box{
    //     width: 100%;
    //     display: flex;
    //     justify-content: flex-end;
    //     align-items: flex-start;
    //     height: 40%;
    // }

    &__main-content{
        margin: 0rem 1.5rem;
        @include tablet {
            padding: 0% 22%;
        }
    }

    &__section{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 4rem 0;
        // height: 80vh;
        
    }


    &__subheader{
        font-weight: bold;
        text-transform: uppercase;
            &:hover{
                color: $red;
            }

            // border: 1px solid red;
        }
   

    &__body{
        // line-height: 1.8rem;
        margin: .7rem 0;
   
        &--bold{
            font-weight: 600;
        }
        &--red{
            color: $red;
        }
        &--blue{
            color: $blue; 
        }
        &--indigo{
            color: $indigo;
        }
        &--orange{
            color: $orange;
        }
        &--small{
            font-size: .75rem;
            margin-top: -.25rem;
        }
        &--grow{
            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }

        &--bold{
            font-weight: bold;

        }

        &--italic{
            font-style: italic;
        }

        &--link{
            cursor: pointer;
    
        }
    }
}

.animation-blink{
    // animation: blink 1.5s linear infinite;
}

// .mode-icon{
//     display: block;
//     width: 2rem;
//     margin: 1rem;
//     &--hidden{
//         display: none;
//     }
// }

