@use '../../Styles/Partials/colors' as *;
@use '../../Styles/global' as *;
@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/animations' as *;

.top-nav{
    padding: 1rem 0;

    @include desktop{
        display: flex;
        justify-content: flex-end;
    }
    
    &__row{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        @include desktop {
            width: 26%;
        }
    }
}

.top-link{
    margin: .5rem;
    padding: .5rem;
    color: rgb(60, 60, 60);
    cursor: pointer;
    font-size: 1.25rem;
    &:visited{
        color: rgb(60, 60, 60);
    }
    &:hover{
        animation: textColorChange 5s forwards;
        // &:nth-child(1){
        //     color: $indigo;
        // }
        // &:nth-child(2){
        //     color: $blue;
        // }
        // &:nth-child(3){
        //     color: $red;
        // }
    }
    &--active{
        font-weight: 700;
    }
    &--dark{
        color: white;
        &:visited{
            color: white;
        }
    }
}