@use '../../Styles/Partials/colors' as *;
@use '../../Styles/global' as *;
@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/animations' as *;



.alatulie{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__title{
        color: $orange;
        align-self: center;
        font-weight: 400;
    }
}


a {
    color: $indigo;
    &:visited{
    color: $indigo;
    }
}