@use '../../Styles/Partials/colors' as *;
@use '../../Styles/global' as *;
@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/animations' as *;


.page{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__content{
        @include tablet{
            padding: 0 15% 2% 15%;
            align-items: center;
        }

    }
   
    &__body{
        text-align: center;
        margin: 0 2rem 2rem 2rem;
        &--blue{
            color: $blue;
        }
        @include tablet {
            width: 100%;
            margin: 0;
        }
       
    }

    &__subheader{
        margin: 0.5rem 0;
    }

    &__video{
        height: 65vh;
        width: auto;
        margin: 0 2rem 2rem 2rem;
        @include tablet {
            width: 100%;
            margin: 1rem 0;
        }

    }
}