@use '../../Styles/Partials/colors' as *;
@use '../../Styles/global' as *;
@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/animations' as *;

.main{
    padding: 0 3rem;
    @include tablet{
        padding: 3rem;
    }

    &__content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 4% 0;
        height: 70vh;
        @include tablet {
            height: 100vh;
            padding: 0 20%;
        }
    }
    &__subheader{
        font-size: .78rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__text{
        margin: .5rem 0;
    }
    &__link{
        font-weight: 600;
        cursor: pointer;
        &--purple{
            color: $purple;
        }
        &--green{
            color: $green;
        }
        &--pink{
            color: $pink;
        }
        &--forest{
            color: $forest;
        }
    }
}